In [3]:
#import openpyxl
 
# 엑셀파일 열기
#wb = openpyxl.load_workbook('DB.xlsx')

#ws = wb.active
#### ws = wb.get_sheet_by_name("Sheet1")
 
# 국영수 점수를 읽기
#for r in ws.rows:
#    year = r[0].value   # 행 인덱스
#    mont = r[1].value
#    day = r[2].value
#    hua = r[3].value
#    su = r[4].value
#    mok = r[5].value
#    kim = r[6].value
#    to = r[7].value

    #print(year, mont, day, hua, su, mok, kim, to)
    
#wb.save("score2.xlsx")
##wb.close()

In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [109]:
manseDB = pd.read_excel('test.xlsx') ## 엑셀 데이터

manseDB

patientDB = pd.read_excel('patientDB.xlsx') ## 환자 정보 엑셀 읽기

yearinfo = patientDB['생년월일']# 환자 생년월일

0         1925114
1          194038
2         1936126
3         1977116
4          194397
5         1978217
6         1953115
7         1948419
8          193693
9         1958926
10       19431025
11        1950928
12         194323
13        1944325
14       19381130
15         195235
16        1957920
17        1938913
18       19521025
19         194911
20         194281
21        1944106
22        1942710
23         194543
24         196833
25        1937325
26        1938322
27        1949928
28       19431024
29       19401120
           ...
80965     1950624
80966      194533
80967    19391020
80968    19531027
80969     1943121
80970     1939101
80971      194259
80972      194343
80973    19401226
80974    19421020
80975     1956101
80976    19551010
80977     1955910
80978     1942720
80979     1971113
80980     1943217
80981      194124
80982    19731224
80983     1945621
80984     1950525
80985     1955120
80986      194565
80987     1933618
80988      193798
80989     1940119
80990      193635
80991     1925529
80992     1944412
80993    19411025
80994    19111111
Name: 생년월일, Length: 80995, dtype: int64

In [105]:
year = manseDB['생년월일'] # 만세력 생년월일

hua = manseDB['화']
su = manseDB['수']
mok = manseDB['목']
kim = manseDB['금']
to = manseDB['토']

0      191611
1      191612
2      191613
3      191614
4      191615
5      191616
6      191617
7      191618
8      191619
9     1916110
10    1916111
11    1916112
12    1916113
13    1916114
14    1916115
Name: 생년월일, dtype: int64

In [108]:
a = [1,2,3]
b = [10,22,33]

result = []
result.extend(a)
result.extend(b)

print(result)

[1, 2, 3, 10, 22, 33]